.fl {
    float: left;
}

.fr {
    float: right;
}

.com-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chart-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

canvas {
    border-radius: 25px;
}